$notice-color: #5cb85c;
$link-red: #f33;
$dark-grey: #303030;
$light-grey: #282828;


//Colors
$black-text: #2b3545;
$grey-text: #777c8a;
$background-color: #f1f4f8;
$main-color: #1585cf;

//Sidebar
$sidebar-bg-top: #333e4f;
$sidebar-bg: #2b3545;
$sidebar-bg-selected: #212936;

$theme-colors: (
  "primary": #1585cf,
  "danger": #ff4136,
  "info": #f3f9fc,
  "default": #f3f9fc
);