.page-body{style: "background: transparent;"}
  %nav.navbar.navbar-default.landing_navbar.navbar-custom
    .container-fluid
      .row
        .col-sm-12
          .col-sm-8
          .col-sm-2
            %btn.btn.btn-primary.btn-md
              LOG IN
          .col-sm-2
            %btn.btn.btn-default.btn-md
              SIGN UP
  .row
    .wizzard-container
      .well.with-header
        %h3.grey-text
          Hello
    