!!!
%html
  %head
    %title
      Fillz
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# = yield(:head)

  %body
    -# = Gon::Base.render_data
    .main-container.container-fluid{style: "margin: 0; padding: 0;"}
      .page-content
        = yield


